<div class="list">
    <div class="title">我加入的
        <input type="search" placeholder="输入同步课名称搜索">
        <button><img src="../../../assets/images/search.png"></button>
    </div>
    <hr>
    <ul>
        <li *ngFor="let course of courses">
            <a [routerLink]="['/tongbu',course.id]">
                <img src="{{course.images}}" alt="">
                <div class="li-right"><img src="../../../assets/images/score.png" alt=""></div>
                <div class="li-middle">
                    <h1>{{course.courseName}}</h1>
                    <p>简介</p>
                    <img src="../../../assets/images/list_28.png" alt="">
                    <span>{{course.task}}</span>
                    <img src="../../../assets/images/person.png" alt="">
                    <span>{{course.person}}</span>
                </div>

            </a>
            <hr>
        </li>
    </ul>
</div>