.container {
    width: 770px;
    padding: 0px 32px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-left: 20px;
    float: left;
}

.container li {
    width: 180px;
    height: 235px;
    float: left;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.container li a {
    color: #333;
    cursor: pointer;
}

.container li img {
    width: 178px;
    height: 100px;
}

.container li h5 {
    display: block;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container li .sum {
    height: 60px;
    margin: 0 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9e9e9e !important;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
}

.container li span {
    color: #9e9e9e;
    font-size: 14px;
    margin: 0 10px;
}

.container li .sec {
    margin-left: 50px;
}